.content{
    margin:0;
    background:#fff;
    width:70%;
    height:70%;
}
.content-information-heading{
    width:100%;
}
h5{
    margin:0;
    color:black;
    font-size:22px;
    padding:0 0 5px 35px;
    font-weight:600;
    font-family: 'Itim', cursive;
}
.content-information-heading div{
    padding:0 35px 5px 35px;
    font-size:10px;
    box-sizing:border-box;
    color:grey;
    font-family: 'Poppins', sans-serif;
}
.content-header{
    font-size:18px;
    font-weight:900;
}
.content-header div{
    padding:3px 2px 2px 15px;
    font-family: 'Roboto Mono', monospace;
    font-size:16px;
}
.content-header i{
    padding:0 15px 00;
}
.content-rectangle{
    width:100%;
    display:flex;
}
.row-time{
    width:35%;
    height:100%;
}
.row-info{
    width:65%;
    height:100%;
}
.content-time{
    width:100%;
    height:60px;
    padding:2px 0 0 75px;
    box-sizing: border-box;
    font-weight:600;
    font-size:14px;
}
.content-section{
    width:100%;
    font-size:14px;
    height:20px;
    font-weight:600;
    font-family: 'Lato', sans-serif;
}
.content-info{
    width:100%;
    font-size:10px;
    height:40px;
    color:grey;
    font-family: 'Poppins', sans-serif;
}
.content-info div{
    padding:0 20px 0 0;
}
.content-rectangle-box{
    display:flex;
    width:100%;
}
.content-box{
    width:50%;
    height:100%;
}
.content-box-section{
    height:20%;
    width:100%;
}
.content-box-section div{
    padding:5px 0 0 50px;
    font-weight:600;
    font-size:14px;
    font-family: 'Lato', sans-serif;
}
.content-box-info{
    width:100%;
    height:80%;
}
.content-box-info div{
    padding:5px 20px 0 50px;
    font-size:10px;
    color:grey;
    font-family: 'Poppins', sans-serif;
}
.timeline
{
    width:100%;
    height:60px;
    position:relative;
    background:orange;
}
.timeline:after{ 
    content: ' ';
    position: absolute;
    width:2px;            
    height:100%;
    background:#2a2730;
    left:33%;
    top:50%;
    transform:translate(-50%,-50%);
}
.timeline:before{ 
    content: ' ';               
    position: absolute;
    width:8px;
    height:8px;
    border-radius:50%;
    background:#2a2730;
    left:33%;
    top:28%;
    transform:translate(-50%, -50%);
}
