#sidebar{
    width:30%;
    position:relative;
}
#sidebar::before{
    content:' ';
    width:50%;
    height:100%;
    background:#352741;
    z-index:5;
    position:absolute;
}
.sidebar-name{
    width:99.99%;
    height:30px;
    background:#c9a600;
    position:relative;
    box-sizing: border-box;
    z-index:10;
}
.sidebar-name::before{
    content:' ';
    position:absolute;
    background:#c9a600;
    width:5%;
    height:100%;
    z-index:5;
    box-sizing: border-box;
    left:100%;
}
.sidebar-information{
    width:99.99%;
    background:#3e3b44;
    position:relative;
}
.sidebar-information-box{
    width:99.99%;
    background:#3e3b44;
    padding:17px 000;
}
.sidebar-social-icon{
    width:99.99%;
    height:100%;
    display:flex;
}
.sidebar-boxicon{
    height:100%;
    width:33.33%;
    color:#fff;
    z-index:10;
}
.sidebar-boxicon div{
    text-align: center;
    font-size:18px;
    font-weight:200;
    font-family: 'Itim', cursive;
}
.sidebar-boxicon i{
    font-size:18px;
    padding:20px;
    margin:0;
}
.sidebar-contact{
    color:#fff;
    font-size: 16px;
    padding:13px 0 10px 15px;
    font-family: 'Itim', cursive;
    z-index:10;
    position:relative;
}
.sidebar-contact li{
    list-style-type:none;
}
.sidebar-contact ul{
    padding:0;
}
.sidebar-skills{
    padding:15px 0 15px 50px;
    color:#fff;
    font-family: 'Itim', cursive;
    font-size:16px;
    position:relative;
    z-index:10;
}
.sidebar-language{
    padding:15px 0 15px 50px;
    color:#fff;
    font-family: 'Itim', cursive;
    font-size:16px;
    z-index:10;
    position:relative;
}
ul{
    margin:0;
    padding:0;
}
li{
    padding:2px;
}
h4{
    margin:0;
    color:#fff;
    text-align:center;
    padding:5px 000;
}