#photo{
    background:#2a2730;
    width:30%;
    height:200px;
    position:relative;
}
.triangle2{
    width:0;
    height:0;
    border-style:solid;
    border-width:0 0 15px 100px;
    border-color: transparent transparent #352741 transparent;
    z-index:10;
    position:absolute;
    left:0;
    bottom:15%;
}
.rectangle{
    background:#352741;
    position:absolute;
    z-index:10;
    width:50%;
    height:15%;
    left:0;
    bottom:0;
}
#photo::before{
    content:' ';
    width:100%;
    height:30px;
    background:#3e3b44;
    z-index:5;
    position:absolute;
    bottom:0;
}
#photo::after{
    content:' ';
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 15px solid #3e3b44;
    position:absolute;
    z-index:5;
    bottom:15%;
}
.img img{
    border-radius:50%;
    width:140px;
    height:140px;
}
.img{
    padding:10px 30px 30px 30px;
}
.triangle{
    width: 0; 
    height: 0; 
    border-top: 85px solid transparent;
    border-bottom: 85px solid transparent;
    border-left: 75px solid #2a2730;
    z-index: 5;
    position:absolute;
    left:100%;
    top:0;
}
h1{
    margin:0;
    padding:40px 0 0 80px;
    font-size:34px;
    font-weight:900;
    font-family: 'Oswald', sans-serif;
}
h2{
    margin:0;
    padding:2px 0 0 80px;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    font-weight:200;
}
h3{
    margin:0;
    font-size:12px;
    font-weight:200;
    padding:2px 80px 0 80px;
    font-family: 'Raleway', sans-serif;   
}
#name-wrapper{
    padding:0px;
    background:#e3e3e3;
    width:70%;
    position:relative;
}
#name-wrapper::after{
    content:' ';
    width: 0; 
    height: 0; 
    border-left: 310px solid transparent;
    border-right: 166px solid transparent; 
    border-top: 30px solid #e3e3e3;
    position:absolute;
    z-index:10;
    top:85%;
}
#name-wrapper::before{
    content:' ';
    position:absolute;
    z-index:5;
    width:100%;
    height:30px;
    top:85%;
    background:#fff;
}
.name-wrapper-triangle{
    content:' ';
    position:absolute;
    z-index:5;
    width:0;
    height:0;
    border-style:solid;
    border-width:0 0 100px 120px;
    border-color: transparent transparent #c9a600 transparent;
    right:0;
    top:34%;
}
.name-wrapper-triangle2{
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-left: 65px solid transparent;
    border-bottom: 35px solid #c9a600;
    content:' ';
    position:absolute;
    z-index:15;
    bottom:16px;
    right:1px;
    transform:rotate(-12deg); 
    -webkit-transform:rotate(-12deg); 
    -moz-transform:rotate(-12deg);   
    -o-transform:rotate(-12deg); 
}