#photo{
    background:#2a2730;
    width:30%;
    height:200px;
}
.img img{
    border-radius:50%;
    width:140px;
    height:140px;
    padding:15px 30px 30px 30px;;
}
h1{
    margin:0;
    padding:40px 0 0 80px;
    font-size:32px;
    font-weight:900;
}
h2{
    margin:0;
    font-weight:200;
    padding:2px 0 0 80px;
    font-size:18px;
}
h3{
    margin:0;
    font-size:12px;
    font-weight:300;
    padding:2px 80px 0 80px;
}
#name-wrapper{
    padding:0px;
    background:#e3e3e3;
    width:70%;
}
